[*.js]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.php]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.twig]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.scss]
indent_style = space
indent_size = 2
insert_final_newline = true

[composer.json]
indent_style = space
indent_size = 4
insert_final_newline = true

[package.json]
indent_style = space
indent_size = 2
insert_final_newline = true
